main {
    padding-left: 20vw !important;
    padding-right: 20vw !important;
 }

 .friend {
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
 }

 .encourage {
    margin-right: 3em;
 }

 .friend-goal {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
 }

 .streak {
    padding-left: 0.5em;
 }

 #add {
    display: flex;
    flex-direction: row;
 }

 #add button {
    margin-right: 1em;
 }

 #notifications {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
 }
 
 .notification {
    padding-bottom: 2em;
 }

 .message {
    float: left;
 }

 .time {
    float: right;
    padding-right: 1em;
 }

 .request-name {
    float: left;
 }

 .options {
    float: right;
 }

 .section {
    padding-bottom: 1em;
 }