.achievement {
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
}

main {
    padding-right: 30vw !important;
    padding-left: 30vw !important;
}

img {
    float: left;
    height: calc(75px + 2em);
    width: calc(75px + 2em);
    padding: 1em;
}

.data {
    float: left;
}

@media (max-width: 600px) {
    main {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}