body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 10vh;
}



main {
    flex: 1 85vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 5vh;
    padding-left: 1em;
    padding-right: 1em;
}

footer a {
    float: right;
}

menu {
    display: flex;
    flex-direction: row !important;
    margin: 0;
}

.nav-item {
    padding: 5px;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }