.delete {
    float: right;
    margin-left: 1em;
}

.reset {
    float: right;
}

.streak {
    float: left;
    padding-left: 1em;
}

.goal-text {
    float: left;
}

#goals-input {
    margin-left: .5em;
    margin-right: .5em;
}

#add-goal {
    flex: 1;
}

.goals-main {
   padding-left: 20vw !important;
   padding-right: 20vw !important;
}

.goal {
    padding-bottom: 52px;
}

#goals {
    list-style-type:none;
}

#achievement {
    border-style: solid;
    border-color: darkgrey;
    border-width: 3px;
}

#achievement-image {
    float: left;
    height: calc(75px + 2em);
    width: calc(75px + 2em);
    padding: 1em;
}

#x-button {
    float: right;
    margin: 1em;
}


@media (max-width: 800px) {
    main {
        padding: 0px !important;
    }
}